<!DOCTYPE html>
<html lang="en">
<head>
<title>Style CSS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-family: 'Brush Script MT', cursive;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1px;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 34%;
}

/* Middle column */
.column.middle {
  width: 30%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: rgba(153, 153, 153, 1);} /* silver */
.button2 {background-color: rgba(255, 98, 4, 1);} /* Orange */
.button3 {background-color: rgba(1, 1, 2, 1);} /* Black */
.button4 {background-color: rgba(10, 90, 50, 1);} /* Green */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
</style>
</head>